#meme {
  width: auto;
  height: 80%;
  max-height: 500px;
}

.mg-wrapper:not(.usingBootstrap) .mg-controls .mg-textbox {
  text-align: center;
}

.loader {
  position: absolute;
  left: 45%;
  top: 20%;
  z-index: 1;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#generate-button-wrapper {
  position: absolute;
  left: 45%;
  margin-top: 15px;
}

#generate-button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  background-color: #008CBA;

}
